---
import getUsername from "../../composables/session";
const username = getUsername()
const url = `/${username}`
---

<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="generator" content={Astro.generator} />
        <title>Kasmira - Fund Your Creative Projects and Ideas</title>
        <meta name="description" content="manage your kas portfolio">
        <meta name="author" content="waotzi">    
        <link rel="stylesheet" href="/styles/global.css" />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <script defer data-domain="kasmira.net" src="/js/script.js"></script>
    </head>
    <body>
      <header>
        <a href="/" >
          <img width="48" src="/logo.png"/>
          <h3>Kasmira</h3>
          &nbsp;&nbsp;&nbsp;
        </a>
        <nav>
          {username !== null ? (
            <div class="flex">
              <span>Welcome,</span>
              <a href={url}>&nbsp;{username}</a>
              <span>!</span>
            <a href="/signout" class="btn btn-secondary">Sign Out</a>
          </div>
          ) : (
            <div class="flex">
              <a href="/signup" class="btn btn-secondary">Sign Up</a>
              <a href="/login" class="btn btn-primary">Log In</a>
            </div>
          )}
        </nav>
      </header>
      <main>
        <slot/>
      </main>
      <footer>
        <p>
          Powered by <a href="https://astro.build/">Astro</a>.
          Supported with <a href="/kasmira">donations</a>.
          Maintained by <a href="https://waotzi.org">Waotzi</a>.
        </p>  
      </footer>
    </body>
</html>



<style>
  .jungle-welcome {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #fff;
    text-shadow: 1px 1px #000;
  }

</style>