---
import { verify } from 'jsonwebtoken';

const secretKey = import.meta.env.JWT_SECRET_KEY;

// Retrieve the token from the local storage
const token = localStorage.getItem('token');

let isLoggedIn = false;
let username = null

if (token) {
  try {
    // Verify the token using the secret key
    const decoded = verify(token, secretKey);
    username = decoded.username
    isLoggedIn = true;

  } catch (error) {
    // The token is invalid or has expired
    console.error('Invalid or expired token:', error.message);
  }
} else {
  // The user is not logged in
  console.log('User is not logged in');
}

---

<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="generator" content={Astro.generator} />
        <title>Kasmira - Fund Your Creative Projects and Ideas</title>
        <meta name="description" content="manage your kas portfolio">
        <meta name="author" content="waotzi">    
        <link rel="stylesheet" href="/styles/global.css" />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <script defer data-domain="kasmira.net" src="/js/script.js"></script>
    </head>
    <body>
      <header>
        <a href="/" >
          <img width="48" src="/logo.png"/>
          <span>Kasmira</span>
        </a>
        <nav>
          {isLoggedIn ? (
            <div class="jungle-welcome">
              <p>Welcome, {username}!</p>
              <a href="/signout" class="btn btn-secondary">Sign Out</a>

            </div>
          ) : (
            <>
              <a href="/signup" class="btn btn-secondary">Sign Up</a>
              <a href="/login" class="btn btn-primary">Log In</a>
            </>
          )}
        </nav>
        
      </header>
      <main>
        <slot/>
      </main>
      <footer>
        <p>
          Powered by <a href="https://astro.build/">Astro</a>. Supported with <a href="/kasmira">donations</a>. Maintained by <a href="https://waotzi.org">Waotzi</a>.
        </p>  
      </footer>
    </body>
</html>



<style>
  .jungle-welcome {
    display: flex;
    align-items: center;
  }

  .jungle-welcome p {
    margin-right: 8px;
    font-size: 18px;
    color: #fff;
    text-shadow: 1px 1px #000;
  }

</style>