---
import BaseTemplate from "../components/templates/BaseTemplate.astro";
import getUsername from "../composables/session";
import Card from "../components/atoms/Card.astro";
const username = getUsername()

if (username === null)
    return Astro.redirect('/')

---

<BaseTemplate>
    <div class="profile">
      <h1>{username}'s Profile</h1>
      <form class="public-address-form">
        <label for="public-address">Add Public Crypto Address:</label>
        <input type="text" id="public-address" name="public-address" required>
        <button type="submit">Add</button>
      </form>
    </div>
    <div class="cards-container">
        <ul role="list" class="link-card-grid">
            <Card title="Bitcoin" body="1BvBMSEYstWetqTFn5Au4m4GFg7xJaNVN2" />
            <Card title="Ethereum" body="0x742d35Cc6634C0532925a3b844Bc454e4438f44e" />
            <Card title="Litecoin" body="LZnVbRcYZnT9gXtrmJGpZNQMzvCwFJxi8t" />
            <Card title="Bitcoin Cash" body="qqz9k5ss5pq5dvhdkpfwzj5x5lj6mr0mjsgkjs7wxv" />        
        </ul>
    </div>
</BaseTemplate>


<style>
    .profile {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 40px;
    }
    
    .public-address-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
      width: 300px;
    }
  </style>
  