---
import BaseTemplate from '../components/templates/BaseTemplate.astro';
import LoginForm from '../components/organisms/LoginForm.astro';
const url = Astro.url

---

<BaseTemplate>
    <LoginForm title="Login" actionUrl="/auth.json">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
        { url.searchParams.get("error") === 'wrong_password' &&
            <p class="error-message">
                Wrong username or password.
            </p>
        }
        <button type="submit" class="login-btn">Login</button>
    </LoginForm>      
</BaseTemplate>
