---
import BaseTemplate from '../components/templates/BaseTemplate.astro';
import LoginForm from '../components/organisms/LoginForm.astro';
const url = Astro.url

---

<BaseTemplate>
  <LoginForm title="Sign up" actionUrl="/auth.json">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" required>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
    <label for="confirm-password">Confirm Password</label>
    <input type="password" id="confirm-password" name="confirm-password" required>
    { url.searchParams.get("error") === 'password_mismatch' &&
      <p class="error-message">
        Passwords do not match.
      </p>
    }
    { url.searchParams.get("error") === 'username_taken' &&
      <p class="error-message">
        Username is taken.
      </p>
    }
    <button type="submit" class="login-btn">Sign up</button>
  </LoginForm>
</BaseTemplate>
