---
import BaseTemplate from '../components/templates/BaseTemplate.astro';
import LoginForm from '../components/organisms/LoginForm.astro';
const url = Astro.url

---

<BaseTemplate>
  <LoginForm title="Sign up" actionUrl="/signup.json">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" required>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
    <label for="confirm-password">Confirm Password</label>
    <input type="password" id="confirm-password" name="confirm-password" required>
    { url.searchParams.get("error") === 'password_mismatch' &&
      <p class="error-message">
        Passwords do not match.
      </p>
      }
    <button type="submit" class="login-btn">Sign up</button>
  </LoginForm>
</BaseTemplate>

<style>
  .error-message {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FF6347;
  color: #FFFFFF;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}
</style>