:root {
  --primary-color: #34495e;
  --secondary-color: #2c3e50;
  --accent-color: #165a2e;
  --accent-hover-color: #8ebf73;
  --background-color: #1abc9c;
  --background-pattern: url('/patterns/pattern_1.jpg');
  --body-font: 'Roboto', sans-serif;
  --heading-font: 'Roboto Slab', serif;
  --text-color: #444;
  --text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  --header-bg-color: #34495e;
  --footer-bg-color: #8bc34a;
  --main-bg-color: #d7e9cc;
  --form-input-bg-color: #fff;
  --form-bg-color: #8bc34a;
  --error-message-bg-color: #FF6347;
  --text-white: #fff;
}

/* Add a leafy background pattern */
body:before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--background-pattern);
  opacity: 0.4;
  z-index: -1;
}

body {
  margin: auto;
  max-width: 800px;
  min-width: 320px;
  background-color: var(--background-color);
  padding: 2rem;
  font-family: var(--body-font);
}

/* Style the links */
a {
  color: var(--accent-color);
  text-decoration: none;
  border-bottom: 1px dotted var(--accent-hover-color);
}

a:hover {
  color: var(--accent-hover-color);
  border-bottom: none;
}

/* Style the buttons */
button, .btn {
  cursor: pointer;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: var(--body-font);
  transition: background-color 0.2s;
}

button:hover, .btn:hover {
  background-color: var(--secondary-color);
}

/* Header */
header {
  background-color: var(--primary-color);
  border-radius: 0.5rem 0.5rem 0 0;
  display: flex;
  justify-content: space-between;
}

header a {
  color: #fff;
  border-bottom: none;
  display: flex;
  align-items: center;
  font-weight: bold;
}

header a:hover {
  color: #90EE90;
}

/* body */
main {
  background-color: var(--main-bg-color);
  min-height: 70vh;
  padding: 1rem;
  margin: auto;
  padding: 1.5rem;
}

h1, h2, h3 {
  text-shadow: var(--text-shadow);
  font-family: var(--heading-font);
}

h1 {
  font-size: 2rem;
  text-align: center;
}

/* Jungle themed input fields */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  color: #fff;
  text-shadow: 1px 1px #000;
}

.error-message {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--error-message-bg-color);
  color: #FFFFFF;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.flex {
  display: flex;
  align-items: center;
}

/* Jungle themed input fields */
form {
  color: var(--text-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 300px;
  background-color: var(--form-bg-color);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

form > * {
  margin-bottom: 1rem;
}

label {
  color: var(--text-white);
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1.2rem;
}


input {
  background-color: var(--form-input-bg-color);
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 15px;
  width: 100%;
  color: var(--text-color);
}


input::placeholder {
  color: var(--text-color);
}

input:focus  {
  outline: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5) inset;
}

button,
.btn {
  background-color: var(--primary-color);
  color: var(--text-white);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover,
.btn:hover {
  background-color: var(--primary-hover-color);
}

/* Footer */
footer {
  background-color: var(--footer-bg-color);
  text-align: center;
  padding: 0.1rem;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  color: var(--text-color);
}

footer p {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}


.link-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
  gap: 1rem;
  padding: 0;
}