:root {
  --primary-color: #694521;
  --secondary-color: #6f925a;
  --background-color: #6f925a;
  --background-pattern: url('/patterns/pattern_4.jpg');
  --body-font: 'Roboto', sans-serif;
  --heading-font: 'Roboto Slab', serif;
  --text-color: #444;
  --text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  --main-bg-color: #d7e9cc;
  --text-white: #fff;
  --text-gray: #444;
  --text-black: #000;
  --text-alert: #FF6347;

  --border-radius: 0.5rem;
  --font-weight-bold: 700;
}


/* Style the links */
a {
  color: var(--primary-color);
  text-decoration: none;
  border-bottom: 0.1rem dotted var(--secondary-color);
}

a:hover {
  color: var(--secondary-color);
  border-bottom: none;
}

.modal a {
  color: var(--text-white);
}
/* Style the buttons */

button, .btn {
  background-color: var(--primary-color);
  color: var(--text-white);
  font-weight: bold;
  border: none;
  border-radius: var(--border-radius);
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover, .btn:hover {
  background-color: var(--secondary-color);
}

/* Header */
header {
  background-color: var(--primary-color);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 1rem 0;
}

header a {
  color: var(--text-white);
  border-bottom: none;
  display: flex;
  align-items: center;
  font-weight: bold;
  margin: 0 0.5rem;
}

header a:hover {
  color: var(--secondary-color);
}
header .btn:hover {
  background-color: var(--primary-color);
}


/* Footer */
footer {
  background-color: var(--primary-color);
  text-align: center;
  padding: 1rem;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  color: var(--text-white);
}
footer a {
  color: var(--text-white);
}

footer p {
  text-shadow: var(--text-shadow);
}

/* body */
body:before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--background-pattern);
  opacity: 0.4;
  z-index: -1;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: auto;
  max-width: 800px;
  min-width: 280px;
  background-color: var(--background-color);
  font-family: var(--body-font);
  padding: 2rem;
}


main {
  background-color: var(--main-bg-color);
  margin: auto;
  width: 100%;
  height: 100%;
}


@media (max-width: 420px) {
  body {
    padding: 0;
  }
  header, footer {
    border-radius: 0;
  }
  footer {
  }
  main {
    height: 100%;
    overflow: scroll;
  }
}

h1, h2, h3 {
  text-shadow: var(--text-shadow);
  font-family: var(--heading-font);
  font-weight: var(--font-weight-bold);
}


h1 {
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 1.8rem;
  text-align: center;
}


.error-message {
  text-align: center;
  background-color: var(--text-alert);
  color: var(--text-white);
  font-weight: bold;
  font-size: 1.4rem;
  padding: 0.5rem;
  width: 100%;
}

.flex {
  display: flex;
  align-items: center;
}

/* input fields */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.auth-form {
  padding: 2rem;
  margin: auto;
  width: 100%;
}

form > * {
  margin-bottom: 1rem;
  max-width: 320px;

}

label {
  width: 100%;
  font-weight: bold;
  margin-bottom: 0.1rem;
  font-size: 1.2rem;
}

input {
  background-color: var(--text-white);
  border: none;
  border-radius: var(--border-radius);
  padding: 0.5rem;
  margin-bottom: 15px;
  width: 100%;
  color: var(--text-color);
  outline-color: var(--primary-color);
}


input::placeholder {
  color: var(--text-color);
}


/* instructions */

summary {
  text-align: center;
  cursor: pointer;
}
.subtitle {
  display: block;
  font-size: 1.5rem;
  color: var(--text-gray);
  text-align: center;
  margin-bottom: 2rem;
}

.instructions {
  line-height: 1.6;
  background-color: white;
  padding: 1rem;
  border-radius: 0.4rem;
  max-width: 520px;
  margin: 2rem auto;
}

/* general */

.text-center {
  text-align: center;
}



.rot-20 {
  padding-bottom: 0.1rem;
  transform: rotate(20deg);
}

.rot-340 {
  transform: rotate(340deg) scale(-1, 1);
  padding-bottom: 0.1rem;
}