---

export interface Props {
	title?: string;
}

const { title } = Astro.props;

---

<div class="login-page">
    <div class="login-form-container">
    <form>
        <h2>{title}</h2>
        <slot/>
    </form>
    </div>
</div>
  
<style>
    .login-page {
      min-height: 60vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .login-form-container {
      border-radius: 10px;
      padding: 0rem 2rem 2rem 2rem;
      max-width: 400px;
      width: 90%;
      background-color: white;
      text-align: center;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    }
  
</style>